body {
    background-color: #fff3e6;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #361c00;
}
p, span {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #5a2e00;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
header {
    position: sticky;
    top: 0;
    z-index: 999;
}
nav {
    background-color: #ffc913;
}
a {
    color: #84521d;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
a:visited {
    color: #361c00;
    text-decoration: none;
}
.currentLink {
    font-weight: bold;
    text-decoration: underline;
}
#navContainer {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#logo img{
    width: 100px;
    margin-top: 5px;
}
#navMenu {
    display: flex;
    list-style: none;
    width: 45%;
    text-transform: uppercase;
}
.navMenuItem{
    font-family: 'Kranky', cursive;
    margin: 0 30px;
    padding: 20px 0;
    font-size: 20px;
}
hr.rounded{
    border-top: 6px solid #b68c00;
    border-radius: 5px;
}
.firstWord {
    font-size: normal;
    font-style: initial;
    color: #B68C00;
  }
ul {
    display: table;
    margin: 0 auto;
}

/* banner */

.bannerContainer {
    position: relative;
}
.bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;
    color: #361c00;
    font-size: 36px;
    font-weight: bold;
}
.bannerImage {
    width: 100%;
    height: 150px;
    opacity: 0.5;

  }

/* menu */

.pointer {
  cursor: pointer;
}
.showMenu {
  display: block;
}

.menuIconContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.menuIcon{
  display: flex;
  justify-content: center;
  flex: 1 0 50%;
  margin: 50px 0;
}
.menuIcon img{
  height: 70%;
}
.filterBlack {
  filter: brightness(0);
}
.menuContainer {
  display: none;
  width: 50%;
  margin: auto;
  border: solid #361c00 5px;
  border-radius: 20px;
  position: relative;
}
.menu {
  display: none;
  width: 90%;
  margin: auto;
}
.menuTitle {
  text-align: center;
  text-transform: uppercase;
}
.menuTitle h2 {
  font-weight: bold;
}
.menuTitle .bev {
  margin-bottom: 0;
}
.menuTitle p {
  font-size: 15px;
  margin-top: 0;
}
.menuItem {
  display: flex;
  justify-content: space-between;
}
.menuItem p {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
}
.menuItem .subMenu .subName{
  margin: 0;
}
.menuItem .subMenu .subItem {
  font-size: 15px;
}
#x {
  position: absolute;
  right: 0;
  top: 0;
}
#x img {
  width: 30px;
}

/* location */

.mainContainer{
  width: 85%;
  margin: auto;
}
.storeContainer {
  display: flex;
  justify-content: space-between;
}
.hours span {
  font-weight: bold;
}

/* gallery slide */

* {box-sizing:border-box}
.gallery-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.imageSlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.homecontainer {
  position: relative;
}
.homecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: #361c00;
  font-size: 36px;
}
.homeimg {
  width: 100%;
  height: 200px;
  opacity: 0.3;
}
.hoursDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homehours p {
  text-align: center;
}

.lefttestimonialcontainer {
  border: 2px solid #b17e48;
  background-color: #ffe798;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
.lefttestimonialcontainer::after {
  content: "";
  clear: both;
  display: table;
}
.lefttestimonialcontainer img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.lefttestimonialcontainer span {
  font-size: 20px;
  margin-right: 15px;
}
@media (max-width: 500px) {
  .lefttestimonialcontainer {
    text-align: center;
  }
  .lefttestimonialcontainer img {
    margin: auto;
    float: none;
    display: block;
  }
}
.righttestimonialcontainer {
  border: 2px solid #b17e48;
  background-color: #ffe798;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}
.righttestimonialcontainer::after {
  content: "";
  clear: both;
  display: table;
}
.righttestimonialcontainer img {
  float: right;
  margin-left: 20px;
  border-radius: 50%;
}
.righttestimonialcontainer span {
  font-size: 20px;
  margin-right: 15px;
}
@media (max-width: 500px) {
  .righttestimonialcontainer {
    text-align: center;
  }
  .righttestimonialcontainer img {
    margin: auto;
    float: none;
    display: block;
  }
}

/* contact */
.contactMain {
  width: 90%;
  margin: auto;
}

.contactMain p {
  font-size: 20px;
  font-weight: bold;
}

.contactIntro {
  text-align: center;
}
input[type=text], select{
  width: 100%;
  padding: 12px;
  border: 1px solid #5a2e00;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #361c00;
}

input[type=submit] {
  background-color: #b68c00;
  color: #361c00;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Kranky', cursive;
  font-weight: bold;
  font-size: 15px;
}

.formContainer {
  border-radius: 5px;
  background-color: #ffe798;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.formContainer label {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  color: #361c00;
}
.formContainer form{
  display: flex;
  justify-content: space-between;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.textContainer {
  width: 75%;
}


.formContainer .textContainer textarea{
  resize: none;
  height: 70%;
  width: 100%;
  border: 1px solid #5a2e00;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  color: #361c00;
}

.social-footer {
  padding: 1rem;
  background: #ffc913;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  
}

.social-footer p{
  font-weight: bold;
}
.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}

